<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset=UTF-8>
    <title>Make a reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    <h1>Make a reservation</h1>
    
    <form method="POST" action="/make_reservation">
       

  <label for="service_id">Select Medical Service:</label>
  <select name="service_id">
    {% for service_name in medical_services %}
      <option value="{{ service_name['medical_service_id'] }}-{{service_name['clinic_id']}}">{{ service_name['service_name'] }}+{{service_name['clinic_name']}}</option>
    {% endfor %}
  </select>

  <br><br>

  <label for="reservation_date">Select Date:</label>
  <input type="date" name="reservation_date" id="reservation_date">

  <br><br>
  <p id="outputText"> </p> 


      <input type="submit" value="Make reservation">
    </form>
    <script>
        const reservation_date = document.getElementById('reservation_date');
        const output = document.getElementById('outputText');
    
        reservation_date.addEventListener('change', async function () {
        try {
            const response = await fetch('/get_availability', {
              method: 'POST',
              body: new URLSearchParams({
                //the first one is for flask from get form and the second one is from line 36
                reservation_date: reservation_date.value
              })
            });
            const result = await response.text();
            output.innerHTML = 'Availability: ' + result;
        } catch (error) {
            output.innerHTML = 'Error: ' + error;
          }
        });
      </script>
  </body>

</html>